body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 17px;
    background-color: #343A40;
    color: #fff;
}

a {
    color: #aaa;
}

a:hover {
    color: #003cff;
}

.baslik {
    border-bottom: 1px solid #aaa ;
    width: 100%;
}

.baslikAlt {
    border-bottom: 1px solid #aaa;
    width: 100%;
}

.baslikAalt {
    width: 95%;
    border-bottom: 1px solid #fff;
}

.nerelereGidilir {
    display: grid;
    grid-template-columns: repeat(auto-fill, 49%);
}

.nGidilir, .nGidilirYazi {
    width: 98%;
}

.header {
    padding: 20px 0;
    max-width: 1100px;
    width: 100%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.logo {
    font-size: 27px;
    color: #fff;
    text-decoration: none;
}

.menuToggler {
    display: none;
}

#menu {
    margin: -11px 0;
}

#menu ul {
    display: flex;
}

#menu ul li {
    list-style: none;
    margin: 0 10px;
}

#menu ul li a {
    text-decoration: none;
    color: #aaa;
}

#menu ul li a:hover {
    color: #003cff;
}

.content {
    margin: auto;
    max-width: 1100px;
    width: 100%;
}

#fancy {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
}

#fancyImg {
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    max-width: 80%;
    max-height: 80%;
    height: auto;
    margin: auto;
}

#fancy::before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#fancyBtn {
    width: 5%;
    position: absolute;
    right: 0;
    top:0;
    cursor: pointer;
}

.galeri {
    display: grid;
    grid-template-columns: repeat(auto-fill, 32%);
    justify-content: space-between;
}

.galeriImg {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #fff;
}

img {
    cursor: pointer;
}

.bergama {
    display: grid;
    grid-template-columns: repeat(auto-fit, 33%);
    justify-content: space-between;
}

.bergamaImg {
    max-width: 330px;
    width: 100%;
}

@media screen and (max-width: 1025px) {    
    .nerelereGidilir {
        display: grid;
        grid-template-columns: repeat(auto-fill, 49%);
    }
    
    .header {
        width: 90%;
    }
    
    .menuToggler {
        display: none;
    }

    .content {
        margin: auto;
        width: 90%;
    }
    
    .galeri {
        display: grid;
        grid-template-columns: repeat(auto-fill, 49%);
    }
}

@media screen and (max-width: 769px) {    
    .nerelereGidilir {
        display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
    }
    
    .header {
        width: 90%;
        font-size: 16px;
    }
    
    .logo {
        font-size: 25px;
    }
    
    .menuToggler {
        display: none;
    }

    .content {
        margin: auto;
        width: 90%;
    }
    
    .galeri {
        display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
    }
}

@media screen and (max-width: 426px) {    
    .nerelereGidilir {
        display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
    }
    
    .header {
        width: 90%;
        font-size: 16px;
        display: block;
    }
    
    .logo {
        font-size: 25px;
    }

    #menu {
        display: none;
        width: 100%;
        text-align: center;
    }
    
    #menu ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
    }
    
    #menu ul li{
        padding: 15px;
    }

    .menuToggler {
        display: block;
        margin-top: -8px;
        float: right;
    }

    .content {
        margin: auto;
        width: 90%;
    }
    
    .galeri {
        display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
    }
}